.expired {
  color: red;
}

.sprite {
  background-image: url("https://s3.amazonaws.com/communitymanagement/spriteCM.svg");
  background-repeat: no-repeat; }

.notAffectSize {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.all-transition {
  -webkit-transition: -webkit-all 200ms ease-in-out;
  -moz-transition: -moz-all 200ms ease-in-out;
  transition: all 200ms ease-in-out; }


.text-note {
  color: #a6a6a6;
  font-size: 10px; }

.dividers {
  color: #B0BEC5;
  font-size: 13px;
  text-transform: uppercase; }

a {
  color: #55a3de;
  text-decoration: none;
  outline: 0; }
a:hover, a:focus {
  color: #aad1ef; }

.gold-n0 {
  background-color: #f7f7f7; }

.gold-n1 {
  background-color: #ffffd9; }

.gold-n2 {
  background-color: #fff9c4; }

.gold-n3 {
  background-color: #fff59d; }

.gold-n4 {
  background-color: lightgreen; }

.gold-n5 {
  background-color: green; }

.gold-n6 {
  background-color: #ffd740; }

.summary {
  background-color: #fff;
  padding: 5px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  margin-top: 7px;
}
.times-circle{
  margin-right: 10px;
  font-size: 25px !important;
  cursor: pointer;
  border-radius: 50%;
  color: red;
  transition: all .5s;
}
.tabCustom{
  background-color: #9c9b9b;
  padding: 8px;
  cursor: pointer;
  border: 2px solid #908f8f;
}
.tabCustomClicked{
  background-color: white;
  border-bottom: unset;
}
.tabContent{
  display: none;
  padding: 20px;
}
.times-circle:hover{
  box-shadow: 0px 0px 15px red;
}
.customSummary{
  padding: 0px;
  border-radius: 0px;
}
.summary header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }
.customHeader{
  border-bottom: 2px solid #bbbbbb;
}
.wrapLogoCommunity {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  z-index: 2; }

.infoAddress {
  display: flex;
  position: relative;
  align-items: center;
  flex: 1;
  min-width: 350px; }
  @media only screen and (max-width: 480px) {
    .infoAddress {
      flex-wrap: wrap; } }

.infoPrograms {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: wrap;
  flex: 1; }

.wrap-expires {
  margin-top: 10px;
  background-color: white;
  position: relative;
  padding: 0px 0 0 20px;
  z-index: 1; }

.titleHeadings{
  margin-left: 120px;
}

.headline {
  font-size: 32px;
  line-height: 1;
  padding: 5px 0px;
  color: #0a4c9e;
}

.subheadline {
  font-size: 20px; }

.wrap-programs {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.infoCustomText{
  font-size: 19px;
  background-color: white;
  margin: -14px auto 12px;
}
.programs {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-wrap: wrap; }
.programsCustom {
  align-items: center;
  margin-left: -5px;
  flex-wrap: wrap;
  padding-right: 5px;
}
.customBorder{
  border-right: 2px solid #f1f1f1;
}
.countyCityCardHeading{
  width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin: 10px 0 20px;
}
.countyCityCardHeading span { 
  background:#fff; 
  padding:0 10px; 
}
.tabSection{
  margin-top: 39px;
}
.cardCustom{
  width:24%;
  float:left;
  border: 1px solid;
  border-radius:unset;
  margin: 0px 3px;
}
.cardCustomH{
  min-height: 220px;
}
.cardCustomHeader{
  padding: 10px 5px 2px;
  height: 40px;
}
.cardCustomBody{
  padding: 10px 10px;
  background-color: #d4d2d2;
  min-height: 200px;
  margin: 0px 12px 8px;
  min-height: 310px;
  display: none;
}

.cardCustomHeaderArrow{
  cursor: pointer;
  color: rgb(10, 76, 158);
  width: 100%;
  text-align: right;
  font-size: 25px !important;
  margin-top: -6px;
}
.cardBodyList{
  text-align: center;
  margin: 15px 0px;
}
.cardBodyListBtn{
  background-color: white;
  width: 70%;
  margin: 5px;
}
.cardBodyListText{
  color: #848181;
  font-weight: 600;
}
.cardBodyBottomText{
  text-align: right;
  font-weight: 600;
  text-decoration: underline;
}
.round-info {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #47515b; }

.round-info-green {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: whitesmoke; }

.custHeadTop{
  display: flex;
}
.customHeadLeft{
  display: flex;
  position: relative;
  align-items: center;
  flex: 1;
  min-width: 350px;
}
.customHeadRight{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.logoCommunity {
  max-width: 100px;
}

.logoCommunity {
  position: absolute;
  left: 10px;
}
.icon-blue-lock {
  position: absolute;
  background-position: -4px -4px;
  width: 50px;
  height: 50px; }

.icon-alert-red {
  background-position: -104px -16px;
  width: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: middle; }

.icon-alert-yellow {
  background-position: -144px -16px;
  width: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: middle; }

.icon-alert-green {
  background-position: -58px -16px;
  width: 38px;
  height: 38px;
  display: inline-block;
  vertical-align: middle; }

.checkOk {
  position: absolute;
  top: -8px;
  right: -18px;
  background-position: -58px -16px;
  width: 38px;
  height: 38px; }

.expires {
  font-weight: bold;
  color: #4f7c2f; }

.communityDetail {
  display: grid;
  grid-template-columns: 1fr 350px;
  grid-gap: 20px; }
  @media only screen and (max-width: 480px) {
    .communityDetail {
      grid-template-columns: 1fr; } }
  @media only screen and (min-width: 481px) and (max-width: 1023px) {
    .communityDetail {
      grid-template-columns: 1fr; } }

.wrap-detailsBox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 20px; }

.detailBox.links {
  grid-column: span 2;
  grid-row: 2; }

.wrap-links {
  display: flex;
  flex-direction: column; }

.label-square {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #616f7f;
  font-weight: bold; }

.label-square i {
  margin-right: 5px; }

.boxInfo {
  display: flex;
  justify-content: center;
  height: 190px; 
}

.wrap-boxInfo {
  position: relative;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center; }

.boxHead {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 3px;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: #fff; }

.boxContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  border-radius: 5px;
  background-color: #eef1f4; }

.itemBox {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 40px; }

.label-boxInfo {
  font-size: 14px;
  color: #3a3a3c; }

.textBox {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #3a3a3c;
  font-size: 16px;
  font-weight: bold;
  margin-top: 5px;
  background-color: #fff; }

.itemBox > div {
  margin-bottom: 15px; }

.itemBox > div:last-child {
  margin-bottom: 0; }

.wrap-boxInfo .line {
  border: 1px solid #3a3a3c;
  position: absolute;
  width: 100%;
  top: 18px; }

.communityDetail .detailBox {
  border-right: 1px solid #616f7f; }

.wrap-detailsBox > .detailBox:last-child {
  border-right: none; }

.detailBox {
  display: flex;
  align-items: center; }

.group-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.wrap-detailBox {
  flex: 1; }

.wrap-detailBox > div {
  margin-bottom: 5px;
  margin-bottom: 15px;
}

.wrap-detailBox > div:last-child {
  margin-bottom: 0; }

.textLinks {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #55a3de; }

.textLinks > i {
  margin-left: 10px;
  color: #152531; }

  .communityWarning{
    background-color: #fff061;
    color: #22292f;
    padding: 12px 25px;
    font-size: 23px;
    margin-top: 30px;
  }
.cardHolder{
  width: 100%;
  margin: 25px 10px;
  overflow: hidden;
}

/* Task Tab */
.taskTabTabs{
  display: flex;
}
.taskTabClicked{
  display: inline-block;
  background-color: white;
  color: #47515b !important;
  border-top: 2px solid;
  border-left: 10px solid;
}
.taskTabContent{
  display:none;
}
.taskTabContent:nth-child(1){
  display:block
}
.tabContentTasks{
  background-color: #47515b;
}
.taskTabContentContainer{
  padding-left: 10px;
}
.taskSections{
  background-color: bisque;
}
.taskSectionsTasks{
  display: flex;
  width: 100%;
  background-color: white;
  padding: 0px 0px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: 700;
  border-top: 1px solid #e8ecee;
}
.taskTabCustom{
  display: inline-block;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  padding-left: 21px;
  cursor: pointer;
}
.tabTaskSecTitle{
  padding: 15px;
  background-color: white;
  font-size: 25px;
  font-weight: 700;
}
.asanaInputDesign{
  width:80%;
  background-color: transparent !important;
}
.asanaInputDesign:focus{
  border: 0px solid #f1f1f1 !important;
}
.asanaAssigneeSelect{
  font-size: 12px !important;
  font-weight: 600 !important;
  padding: 3px 3px !important;
  width: 90% !important;
  margin-top: 4px;
}
.backgroundLoading{
  width: 100%;
  height: 100%;
  animation: colorchange 2s infinite;
  -webkit-animation: colorchange 2s infinite; 
}
@keyframes colorchange
{
  0%   {background: bisque;}
  50%  {background: yellow;}
  100% {background: bisque;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: bisque;}
  50%  {background: yellow;}
  100% {background: bisque;}
}
.task-list-detail-wrapper{
  height: 100% !important;
}